.movInfoBox {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.movInfoBox > div > img {
    display: block;
    width: 400px;
    transition: all 1000ms ease;

}
.description {
    display: flex;
    column-gap: 50px;
}

.description > div > h3 > span {
    font-size: 14px;
    color: darkblue;
}

.description > div > h3 {
    font-size: 18px;
}

.list {
    list-style: none;
    color: #7d39c2;
    font-size: 18px;
    margin: 5px;
}

.list a:hover {
    color: red;
}