.movInfoBox {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.movInfoBox > div > img {
    display: block;
    width: 400px;
}
.description {
    display: flex;
    column-gap: 50px;
}
