.form {
       margin: 100px;
       font-size: 22px;
}

.logIn {
       margin-left: 20px;
       border: 1px solid #0d3650;
       border-radius: 5px;
       width: 70px;
       height: 28px;
       margin-top: 5px;
}

.form label input {
       height: 20px;
}

.form label {
       height: 30px;
       display: inline-flex;
       gap: 10px;
}

.logIn:hover {
       background: rgba(182, 217, 174, 0.89);
}

.form > p {
       font-size: 16px;
       color: #8c8c8c;
}

.normal::placeholder {
       color: red;
}

.error::placeholder {
       color: #4e5e67;
}