.form {
       margin: 100px;
       font-size: 20px;
}

.form > label > input {
       height: 20px;
}

.form > button {
       margin-left: 20px;
       border: 1px solid #0d3650;
       width: 60px;
       height: 28px;
}

.form > button:hover {
       background: #8c8c8c;
}

.form > p {
       font-size: 16px;
       color: #8c8c8c;
}