.main_day {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 5px;
}

.main_night {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 5px;
    background: #3c3f41;
}

.headerWrap_day {
    box-shadow: 0 20px 50px -20px #7697a8;
    padding: 0 50px;
    transition: all 1000ms ease;
}

.headerWrap_night {
    box-shadow: 0 20px 50px -20px #7697a8;
    padding: 0 50px;
    background: #353542;
    transition: all 1000ms ease;
}