.mainWrapDay {
    flex: 1 0 auto;
}

.mainWrapNight {
    flex: 1 0 auto;
    background: #3c3f41;
    transition: all 1s ease;
}

.main_day {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 5px;
    min-height: 70vh;
}

.main_night {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 5px;
    background: #3c3f41;
}

.headerWrap_day {
    box-shadow: 0 20px 50px -30px #7697a8;
    padding: 0 50px;
    transition: all 1s ease;
}

.headerWrap_night {
    box-shadow: 0 20px 50px -30px #7697a8;
    padding: 0 50px;
    background: #353542;
    transition: all 1s ease;
}
