.header_day {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: #dddddd;
    transition: all 1000ms ease;
}

.header_night {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: #080211;
    transition: all 2s ease;
}

.nav {
    margin: auto 0;
}

.nav > a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #090956;
    transition: all 500ms ease;
}

.nav :first-child{
    margin-right: 50px;
}

.nav a[class=active] {
    color: #c0c0c0;
}

.navNight > a {
    color: #dddddd;
}

.navNight > a[class=active] {
    color: #415f7e;
}

.nav > a:hover{
    color: #9d9dc9;
}
