.header_day {
    height: 100px;
    display: flex;
    padding: 0 100px;
    box-shadow: #dddddd;
    transition: all 2000ms ease;
}

.header_night {
    height: 100px;
    display: flex;
    padding: 0 100px;
    box-shadow: #080211;
    transition: all 2000ms ease;
}

.nav {
    margin: auto 0;
}

.nav > a {
    text-decoration: none;
    font-size: 20px;
    color: dodgerblue;
}

.nav > a:hover{
    color: darkblue;
}

