.movie {
    max-width: 185px;
    transition: all 500ms ease;
}

.movie:hover{
    opacity: 0.4;
}

.movTitle_day {
    margin-top: 10px;
    margin-bottom: 5px;
    transition-delay: 500ms;
}

.movTitle_night {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #cfd6d9;
    transition-delay: 500ms;
}

.link {
    color: black;
}

.link:hover {
    color: #00478f;
}